#form-section {
  color: red;
  /* background: linear-gradient(#e1f3f7, #89f7fe); */
  /* background: rgb(229, 221, 147); */
  padding: 50px 80px 50px 80px;
  background: linear-gradient(#89f7fe, #e1f3f7);
}

#main-container-form {
  color: #529498;
  padding: 50px 20px 20px 10px;
  /* background: linear-gradient(#89f7fe, #e1f3f7); */
  background: #89f7fe;
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: rgb(14, 14, 92);
  font-size: 25px;
  font-family: 'Bungee Shade';
  text-align: center;
  text-shadow: 1px 2px white;
  /* padding-bottom: 5px; */
}
.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  width: 280px;
  font-size: 12px;
  color: rgb(12, 8, 8);
  box-shadow: 0px 0px 5px rgb(238, 175, 214);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  padding: 5px;
  border-radius: 4px;
  border-color: #11828a;
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
