#form-section {
  color: red;
  padding: 50px 80px 50px 80px;
}

#main-container-form {
  color: #529498;
  padding: 50px 20px 20px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: rgb(25, 25, 128);
  font-size: 25px;
  font-family: 'Bungee Shade';
  text-align: center;
  text-shadow: 1px 2px white;
}

.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  width: 280px;
  font-size: 12px;
  color: rgb(12, 8, 8);
  box-shadow: 0px 0px 5px rgb(238, 175, 214);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid lightblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  padding: 5px;
  border-radius: 4px;
  border-color: #11828a;
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 968px) {
  #form-section {
    padding: 25px 10px 10px 25px;
  }
  #main-container-form {
    padding: 25px 10px 10px 5px;
  }
}
