.footer-container {
  background: linear-gradient(#89f7fe, #e0b5f6);
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 10px auto 0 auto;
}

.footer-pagelinks-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 300px;
}

.footer-links {
  color: rgb(70, 5, 70);
  text-shadow: 1px 1px rgb(238, 142, 241);
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.website-rights {
  color: rgb(102, 94, 94);
  margin-bottom: 4px;
  font-size: 10px;
  align-self: center;
}

.footer-social-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 4 auto;
  padding: 0.5rem 1rem;
  width: 240px;
}

.social-icon-link {
  font-size: 36px;
  color: white;
}
@media screen and (max-width: 960px) {
  .footer {
    position: relative;
  }

  .footer-wrap {
    flex-direction: column;
  }
}
