#main-container {
  color: #529498;
  padding: 60px 10px;
  /* background: linear-gradient(#89f7fe, #e1f3f7); */
  background: white;
  width: 100%;
  display: flex;
}

.intro-wrapper {
  padding: 1px 150px;
  text-align: left;
}

.intro-text {
  padding-top: 10px;
}

.lottie-wrapper {
  display: flex;
  direction: flex-start;
}
.lottie-animation {
  margin-top: 3%;
  margin-bottom: 3%;
}
.center-wrapper {
  display: inline;
  text-align: center;
}

.center-wrapper-div {
  display: flex;
  justify-content: space-between;
  margin: 65px 205px 0px;
}

h2,
h3 {
  color: rgb(5, 4, 4);
  text-shadow: 0.8px 0.5px #c276e7;
}

p {
  color: rgb(5, 5, 61);
  font-weight: bold;
  margin-top: 3px;
}

@media screen and (max-width: 960px) {
  .intro-wrapper {
    padding: 5px 50px;
  }
  .center-wrapper-div {
    margin: 25px 25px 0px;
  }
}
