@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

#main-container-about {
  color: #529498;
  /* padding: 60px 10px; */
  /* background: linear-gradient(#89f7fe, #e1f3f7); */
  background: rgb(247, 236, 236);
  width: 100%;
  display: flex;
}

.intro-wrapper {
  padding: 55px 50px;
}

.intro-text {
  padding: 10px 150px 0px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 20px;
}
.intro-skills {
  padding: 15px 150px 0px;
  line-height: 1.5;
}
.lottie-wrapper {
  display: flex;
  direction: flex-start;
}
.lottie-animation {
  margin-top: 3%;
  margin-bottom: 3%;
}
.center-wrapper {
  display: inline;
  text-align: center;
}

.center-wrapper-div {
  display: flex;
  justify-content: space-between;
  margin: 65px 305px 15px;
}

.title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 35px;
  color: #0e5a5f;
  text-shadow: 0.8px 0.5px #88ced3;
  text-align: center;
  padding: 15px 20px 0px;
}

.subtitle {
  color: #103c3f;
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: 0.8px 0.5px #88ced3;
}

p {
  color: rgb(5, 5, 61);
  font-weight: bold;
  margin-top: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.resume-section {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}
.resume-button {
  text-align: center;
  width: 240px;
  background-color: #a92fe6;
  padding: 5px 5px 5px 5px;
}
@media screen and (max-width: 600px) {
  #main-container-about {
    padding: 55px 10px 10px 25px;
  }
  .intro-wrapper {
    padding: 5px 10px 5px;
  }
  .intro-text {
    padding: 10px 50px 0px;
    text-align: center;
  }
  .intro-skills {
    padding: 10px 50px 0px;
    text-align: center;
  }
  .center-wrapper-div {
    margin: 25px 25px 0px;
  }
}
