#main-container {
  color: #529498;
  padding: 120px 10px;
  background: linear-gradient(#89f7fe, #e1f3f7);
  height: 100vh;
  width: 100%;
  display: flex;
}

.intro-wrapper {
  padding: 10px 150px;
  text-align: left;
}

.intro-text {
  padding-top: 10px;
}
