.navbar {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: red;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}
.menu-icon {
  display: none;
}

.nav-links {
  color: red;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 10px solid red;
  transition: all 0.2 ease-out;
}

/* .fa-bars {
  color: white;
} */

/* .nav-links-mobile {
  display: none;
} */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: 100%;
    opacity: 1;
    transition: all 0.5 ease;
  }
  .nav-menu.active {
    background: yellow;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2 rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: blue;
    color: red;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    font-size: 1.2rem;
    cursor: pointer;
  }

  .fa-times {
    color: red;
    font-size: 1.5rem;
  }

  .fa-bars {
    color: red;
    font-size: 2rem;
  }

  .nav-links-mobile {
  }
}
