.navbar {
  /* background: linear-gradient(#66a6ff, #e0b5f6, #89f7fe); */
  background: linear-gradient(#66a6ff, #e0b5f6, #89f7fe);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: rgb(243, 240, 240);
  justify-content: center;
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

i {
  margin-right: 10px;
}
.nav-item {
  height: 80px;
}
.menu-icon {
  display: none;
}

.nav-links {
  color: white;
  text-shadow: 1px 2px rgb(95, 87, 87);
  display: flex;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 10px solid #ae3de6;
  transition: all 0.2 ease-out;
}
.navbar-social-icon-wrap {
  display: flex;
  justify-content: space-between;
  padding: 15rem 1rem;
}
.navbar-social-icon-link {
  font-size: 35px;

  color: #981ad8;
}

.fa-bars {
  color: white;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
  }

  .nav-menu.active {
    background: linear-gradient(95deg, #02aab0, #c471ed);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2 rem;
    width: 100%;
    display: table;
    letter-spacing: 2px;
  }

  .nav-links:hover {
    background-color: #d294f1;
    padding: 1.5rem 0 0 0;
    color: #480d66;
    font-weight: bold;
    border-radius: 10;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    font-size: 1.2rem;
    cursor: pointer;
  }

  .fa-times {
    color: purple;
    font-size: 1.5rem;
  }

  .fa-bars {
    color: purple;
    font-size: 2rem;
  }
}
