#main-container-projects {
  color: #529498;
  padding: 50px 50px;
  background: linear-gradient(#89f7fe, #e1f3f7);
  height: 100vh;
  width: 100%;
  display: flex;
}

h2 {
  color: #1b3132;
  text-shadow: 1px 2px white;
}
