#project-section {
  padding: 50px 80px 50px 80px;
  background-color: #89f7fe;
}

#main-container-projects {
  color: #529498;
  padding: 50px 20px 20px 20px;
  background: #89f7fe;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-row {
  display: flex;
  background: #e1f3f7;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  border-style: outset;
  border-color: rgb(200, 200, 236);
}

.project-column {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 50%;
  flex-basis: 50%;
}

.project-text-wrapper {
  max-width: 540px;
}

.project-right-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectIframe {
  position: relative;
  width: 100%;
  height: 280px;
  display: block;
  margin: 0 auto;
  padding-right: 15px;
}
.project-social-icon-wrap {
  padding-left: 15px;
  padding-right: 25px;
}

.project-social-icon-link {
  font-size: 35px;
  color: #0e5a5f;
}

h1 {
  color: rgb(14, 14, 92);
  font-size: 25px;
  font-family: 'Bungee Shade';
  text-align: center;
  text-shadow: 1px 2px white;
  padding-bottom: 15px;
}
h2 {
  padding-top: 18px;
}
h4 {
  color: #1b3132;
  text-shadow: 1px 2px white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5 {
  padding-top: 3px;
  padding-bottom: 15px;
}
p {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  font-size: 12px;
}
@media screen and (max-width: 968px) {
  #project-section {
    padding: 25px 10px 10px 25px;
    text-align: center;
  }
  .project-row {
    max-width: 100%;
    flex-basis: 100%;
  }
  .project-column {
    max-width: 100%;
    flex-basis: 100%;
  }

  .project-text-wrapper {
    padding-bottom: 0px;
  }
}
