#resume-section {
  color: #529498;
  padding: 30px 10px;
  /* background: linear-gradient(#89f7fe, #e1f3f7); */
  background: #609396;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.resume-top-button {
  padding-bottom: 15px;
}
