* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
  background-color: #efdbfa;
  padding: 0px;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
}
.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: red;
  color: white;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
